<script>
    $(document).ready(function(){
        $("#getQuote").click(function(){
            $("#quoteCon").toggle();
    });
    });
    
    $(document).on('click', "#getQuote", function (e) {
        e.preventDefault();
        var price= $("#total").val();
        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'VND',
            });
        $("#total").val(formatter.format(price))
    });
    
</script>
<style>
.quoteCon{
    width: 100%;
    height: 1000px;
    background-color:rgba(0, 0, 0, 0.8);
    position: fixed;    
    display: none;
}
.quoteContent{
    
    margin: auto;
    width: 450px;
    height: 500px;
    background-color: white;
   
}
.quoteContent table{
    width: 100%;
    margin: 10px;
    
}
.quoteContent td{
    padding: 15px 20px ;
    
}
.quoteContent p{
    font-size: 12px;
    
}

.inputText{
 border-top: 0;
 border-left: 0;
 border-right:0;
 width: 90%;
}
.inputText2{
    width: 95%;
}
.quoteContent button{
    width: 120px;
    margin: auto;
}
</style>

<div id="carQuoteContent" class="container-fluid" ng-controller="Ctr5">
    <!-- quote -->
    <div class="quoteCon" id="quoteCon">
       
        <div class="quoteContent">
            <form action="#">
                <table>
                    <tr>
                        <td colspan="2"><b>Invest Terms</b><br>
                        <p>When the invest duration change, the interest is recalculated</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Brand:
                            <input class="inputText" type="text" ng-model="SelectBrand" disabled>
                        </td>
                        <td>
                            Name:
                            <input class="inputText" type="text" name="" id="" ng-model="SelectName" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>Usage years:
                            <input class="inputText" type="text" ng-model="selectedYear" disabled>
                        </td>
                        <td>
                            Values:
                            <input class="inputText" type="text" name="" id="" ng-model="price" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>Register City:
                            <input class="inputText" type="text" ng-model="SelectCity" disabled>
                        </td>
                        <td>
                            Insurance Plans:
                            <input class="inputText" type="text" ng-model="SelectOption" disabled>
                        </td>
                        <tr>
                            <td colspan="2">Total <br> <input class="inputText inputText2" type="text" ng-model="total" id="total" disabled></td>
                        </tr>
                    </tr>
                </table>
                <div style="width:100%; display: flex; margin-top: 30px;">
                    <button class="btn btn-primary mySubmit" type="submit">Contact us</button>
                </div>
            </form>
        </div>
    </div>
    <!-- customer input information -->
    <div class="row outer">
        <div class="col-md-2 "></div>
        <table class="col-md-8 d-flex justify-content-center myTable1 ">            
            <tr>
                <td>
                    <div class="quoteBox">
                        <form action="" onsubmit="validation()">
                                <h2>Get your quote</h2>
                                <p class="text">Under 9 seater</p>
                                
                                <label for="">Brand</label><br>
                                <select name="" id="brand" class="mySelector1" ng-change="chooseBrand()" ng-model="SelectBrand" ng-options="brand for brand in brands" required>
                                    <option value="">Choose your car brand</option>
                                </select><br><br>
                                <label for="">Name</label><br>
                                <select name="" class="mySelector1"  ng-model="SelectName" ng-options="name for name in names" required>
                                    <option value="">Choose your car name</option>
                                </select><br><br>
                                <label for="">Usage year</label><br>
                                <select name="" class="mySelector2" ng-model="selectedYear" ng-options="i for i in [1,2,3,4,5]" required></select><br><br>
                                <label for="">Register City</label><br>
                                <select name="" class="mySelector1" ng-model="SelectCity" ng-options="city for city in citys" required>
                                    <option value="">Choose register city</option>
                                </select><br><br>
                                <label for="" >Value</label><br>
                                <input type="text" class="mySelector1" ng-model="price" id="price" required><br><br>
                                <label for="">Insurance plans</label><br>
                                <select name="" class="mySelector1" ng-model="SelectOption" required id="option" ng-options="option for option in ['option1','option2','option3','option4','option5']">
                                    <option value="">Choose insurance plan</option>
                                </select>
                                <div class="button1 ">
                                    <button type="button" id="getQuote" class="btn btn-primary mySubmit1" ng-click="calculate()">Submit</button>
                                </div>
                            
                        </form>
                    </div>
                </td>
                <td>
                    <div class="contentBox1">
                        
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active tab1" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Benefit</button>
                              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Product information</button>
                              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Important information</button>
                            </div>
                          
                          <div class="tab-content tab2" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <img src="./Asset/img/car3.webp" alt="" width="500px" class="myBanner1">
                                <ul>
                                    <li>
                                        <h6>Coverage for physical damage to the insured car1</h6>
                                    </li>
                                    <li>
                                        <h6>Third party liability insurance</h6>                                        
                                        Coverage for damages, losses or injuries inflicted upon another person and/or property by automobile22 view footnote 2.
                                    </li>
                                    <li>
                                        <h6>Insurance for driver and passengers</h6>
                                        Compensation for losses or injuries inflicted upon driver and passengers when automobile is in transportation.
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade tab2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                Services
                                <ul>
                                    <li>
                                        Immediate guidance on accident management and claim lodgment is offered via Bao Viet Insurance’s hotline (24/24) nationwide
                                    </li>
                                    <li>
                                        Free rescue service is delivered within a radius of 70km from Bao Viet Insurance’s rescue center in big provinces
                                    </li>
                                    <li>
                                        Fast and convenient claim service
                                    </li>
                                </ul>
                                Premium3 <br>
                                <br>
                                Option 1: Basic premium rate <br>
                                Option 2: Option 1 + Non-depreciation for spare parts <br>
                                Option 3: Option 1 + Repair at optional garage <br>
                                Option 4: Option 1 + Flooded automobile <br>
                                Option 5: Option 1 + Non-depreciation for spare parts + Repair at optional garage <br>
                                Option 6: Option 1 + Repair at optional garage + Flooded automobile <br>
                                Option 7: Option 1 + Non-depreciation for spare parts + Flooded automobile <br>
                                Option 8: Option 1 + Non-depreciation for spare parts + Repair at optional garage + Flooded automobile
                                <br>
                                <a href="#!hsbc">Click here for Detail</a>
                            </div>
                            <div class="tab-pane fade tab2" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <ol>
                                    <li>Comprehensive coverage and compensation for loss/damage to the insured car including insured events:
                                        <ul>
                                            <li>Unexpected accident, collision, overturn;</li>
                                            <li>Fire, burning, explosion;</li>
                                            <li>Natural catastrophe such as flood, landslide, thunderbolt, earthquake, hail, tsunami;</li>
                                            <li>Whole car value compensation: In case that actual total loss or damage equals to or above 75% of the sum insured or to the extent that no repairment can make the car safe in transportation or the repairing cost equals to or exceeds the car’s actual value, Bao Viet Insurance will indemnify the Insured with cash value equivalent to its value right at the time of accident/ loss.</li>
                                            <li>Three additional coverage: Non-depreciation for spare parts insurance; Flooded automobile insurance (water damage insurance), Repair at optional garage insurance.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        This is mandatory insurance to car owner according to regulations stipulated by Ministry of Finance
                                    </li>
                                    <li>Premium shall be calculated based on sum insured44 view footnote 4 ,years of car usage and types of automobile. The above rates are 10% VAT inclusive and applicable for non-commercial cars.</li>
                                </ol>
                            </div>
                          </div>
                    </div>
                </td>
            </tr>     
            
        </table>
        
    </div> 
</div>



